.line
        {
            height: 25px;
            line-height: 25px;
            margin: 3px;
        }
        .imp
        {
            padding-left: 25px;
        }
        .col
        {
            width: 95px;
        }
        ul {
            list-style:none;
            padding-left:10px;
        }
        li {
            height:20px;
        }