<component name="ArtifactManager">
  <artifact type="war" name="spring_quartz_demo:war">
    <output-path>$PROJECT_DIR$/spring_quartz_demo/target</output-path>
    <root id="archive" name="spring_quartz_demo.war">
      <element id="artifact" artifact-name="spring_quartz_demo:war exploded" />
    </root>
  </artifact>
</component>